[submodule "repos/arie"]
	path = repos/arie
	url = git@github.com:erc-dharma/arie.git
[submodule "repos/digital-areal"]
	path = repos/digital-areal
	url = git@github.com:erc-dharma/digital-areal.git
[submodule "repos/erc-dharma.github.io"]
	path = repos/erc-dharma.github.io
	url = git@github.com:erc-dharma/erc-dharma.github.io.git
[submodule "repos/mdt-artefacts"]
	path = repos/mdt-artefacts
	url = git@github.com:erc-dharma/mdt-artefacts.git
[submodule "repos/mdt-authorities"]
	path = repos/mdt-authorities
	url = git@github.com:erc-dharma/mdt-authorities.git
[submodule "repos/mdt-editor"]
	path = repos/mdt-editor
	url = git@github.com:erc-dharma/mdt-editor.git
[submodule "repos/mdt-surrogates"]
	path = repos/mdt-surrogates
	url = git@github.com:erc-dharma/mdt-surrogates.git
[submodule "repos/mdt-texts"]
	path = repos/mdt-texts
	url = git@github.com:erc-dharma/mdt-texts.git
[submodule "repos/project-documentation"]
	path = repos/project-documentation
	url = git@github.com:erc-dharma/project-documentation.git
[submodule "repos/repo-test"]
	path = repos/repo-test
	url = git@github.com:erc-dharma/repo-test.git
[submodule "repos/tfa-accalpuram-epigraphy"]
	path = repos/tfa-accalpuram-epigraphy
	url = git@github.com:erc-dharma/tfa-accalpuram-epigraphy.git
[submodule "repos/tfa-cempiyan-mahadevi-epigraphy"]
	path = repos/tfa-cempiyan-mahadevi-epigraphy
	url = git@github.com:erc-dharma/tfa-cempiyan-mahadevi-epigraphy.git
[submodule "repos/tfa-cirkali-epigraphy"]
	path = repos/tfa-cirkali-epigraphy
	url = git@github.com:erc-dharma/tfa-cirkali-epigraphy.git
[submodule "repos/tfa-kotumpalur-epigraphy"]
	path = repos/tfa-kotumpalur-epigraphy
	url = git@github.com:erc-dharma/tfa-kotumpalur-epigraphy.git
[submodule "repos/tfa-melappaluvur-kilappaluvur-epigraphy"]
	path = repos/tfa-melappaluvur-kilappaluvur-epigraphy
	url = git@github.com:erc-dharma/tfa-melappaluvur-kilappaluvur-epigraphy.git
[submodule "repos/tfa-pallava-epigraphy"]
	path = repos/tfa-pallava-epigraphy
	url = git@github.com:erc-dharma/tfa-pallava-epigraphy.git
[submodule "repos/tfa-pandya-epigraphy"]
	path = repos/tfa-pandya-epigraphy
	url = git@github.com:erc-dharma/tfa-pandya-epigraphy.git
[submodule "repos/tfa-sii-epigraphy"]
	path = repos/tfa-sii-epigraphy
	url = git@github.com:erc-dharma/tfa-sii-epigraphy.git
[submodule "repos/tfa-tamilnadu-epigraphy"]
	path = repos/tfa-tamilnadu-epigraphy
	url = git@github.com:erc-dharma/tfa-tamilnadu-epigraphy.git
[submodule "repos/tfa-uttiramerur-epigraphy"]
	path = repos/tfa-uttiramerur-epigraphy
	url = git@github.com:erc-dharma/tfa-uttiramerur-epigraphy.git
[submodule "repos/tfb-arakan-epigraphy"]
	path = repos/tfb-arakan-epigraphy
	url = git@github.com:erc-dharma/tfb-arakan-epigraphy.git
[submodule "repos/tfb-badamicalukya-epigraphy"]
	path = repos/tfb-badamicalukya-epigraphy
	url = git@github.com:erc-dharma/tfb-badamicalukya-epigraphy.git
[submodule "repos/tfb-bengalcharters-epigraphy"]
	path = repos/tfb-bengalcharters-epigraphy
	url = git@github.com:erc-dharma/tfb-bengalcharters-epigraphy.git
[submodule "repos/tfb-bengalded-epigraphy"]
	path = repos/tfb-bengalded-epigraphy
	url = git@github.com:erc-dharma/tfb-bengalded-epigraphy.git
[submodule "repos/tfb-bhaumakara-epigraphy"]
	path = repos/tfb-bhaumakara-epigraphy
	url = git@github.com:erc-dharma/tfb-bhaumakara-epigraphy.git
[submodule "repos/tfb-daksinakosala-epigraphy"]
	path = repos/tfb-daksinakosala-epigraphy
	url = git@github.com:erc-dharma/tfb-daksinakosala-epigraphy.git
[submodule "repos/tfb-ec-epigraphy"]
	path = repos/tfb-ec-epigraphy
	url = git@github.com:erc-dharma/tfb-ec-epigraphy.git
[submodule "repos/tfb-eiad-epigraphy"]
	path = repos/tfb-eiad-epigraphy
	url = git@github.com:erc-dharma/tfb-eiad-epigraphy.git
[submodule "repos/tfb-gangaeast-epigraphy"]
	path = repos/tfb-gangaeast-epigraphy
	url = git@github.com:erc-dharma/tfb-gangaeast-epigraphy.git
[submodule "repos/tfb-kalyanacalukya-epigraphy"]
	path = repos/tfb-kalyanacalukya-epigraphy
	url = git@github.com:erc-dharma/tfb-kalyanacalukya-epigraphy.git
[submodule "repos/tfb-licchavi-epigraphy"]
	path = repos/tfb-licchavi-epigraphy
	url = git@github.com:erc-dharma/tfb-licchavi-epigraphy.git
[submodule "repos/tfb-maitraka-epigraphy"]
	path = repos/tfb-maitraka-epigraphy
	url = git@github.com:erc-dharma/tfb-maitraka-epigraphy.git
[submodule "repos/tfb-rastrakuta-epigraphy"]
	path = repos/tfb-rastrakuta-epigraphy
	url = git@github.com:erc-dharma/tfb-rastrakuta-epigraphy.git
[submodule "repos/tfb-sailodbhava-epigraphy"]
	path = repos/tfb-sailodbhava-epigraphy
	url = git@github.com:erc-dharma/tfb-sailodbhava-epigraphy.git
[submodule "repos/tfb-satavahana-epigraphy"]
	path = repos/tfb-satavahana-epigraphy
	url = git@github.com:erc-dharma/tfb-satavahana-epigraphy.git
[submodule "repos/tfb-somavamsin-epigraphy"]
	path = repos/tfb-somavamsin-epigraphy
	url = git@github.com:erc-dharma/tfb-somavamsin-epigraphy.git
[submodule "repos/tfb-telugu-epigraphy"]
	path = repos/tfb-telugu-epigraphy
	url = git@github.com:erc-dharma/tfb-telugu-epigraphy.git
[submodule "repos/tfb-vengicalukya-epigraphy"]
	path = repos/tfb-vengicalukya-epigraphy
	url = git@github.com:erc-dharma/tfb-vengicalukya-epigraphy.git
[submodule "repos/tfb-visnukundin-epigraphy"]
	path = repos/tfb-visnukundin-epigraphy
	url = git@github.com:erc-dharma/tfb-visnukundin-epigraphy.git
[submodule "repos/tfc-campa-epigraphy"]
	path = repos/tfc-campa-epigraphy
	url = git@github.com:erc-dharma/tfc-campa-epigraphy.git
[submodule "repos/tfc-khmer-epigraphy"]
	path = repos/tfc-khmer-epigraphy
	url = git@github.com:erc-dharma/tfc-khmer-epigraphy.git
[submodule "repos/tfc-nusantara-epigraphy"]
	path = repos/tfc-nusantara-epigraphy
	url = git@github.com:erc-dharma/tfc-nusantara-epigraphy.git
[submodule "repos/tfd-nusantara-philology"]
	path = repos/tfd-nusantara-philology
	url = git@github.com:erc-dharma/tfd-nusantara-philology.git
[submodule "repos/tfd-sanskrit-philology"]
	path = repos/tfd-sanskrit-philology
	url = git@github.com:erc-dharma/tfd-sanskrit-philology.git
[submodule "repos/BESTOW"]
	path = repos/BESTOW
	url = git@github.com:erc-dharma/BESTOW.git
