[submodule "repos/arie"]
	path = repos/arie
	url = https://github.com/erc-dharma/arie
[submodule "repos/digital-areal"]
	path = repos/digital-areal
	url = https://github.com/erc-dharma/digital-areal
[submodule "repos/erc-dharma.github.io"]
	path = repos/erc-dharma.github.io
	url = https://github.com/erc-dharma/erc-dharma.github.io
[submodule "repos/mdt-artefacts"]
	path = repos/mdt-artefacts
	url = https://github.com/erc-dharma/mdt-artefacts
[submodule "repos/mdt-authorities"]
	path = repos/mdt-authorities
	url = https://github.com/erc-dharma/mdt-authorities
[submodule "repos/mdt-editor"]
	path = repos/mdt-editor
	url = https://github.com/erc-dharma/mdt-editor
[submodule "repos/mdt-surrogates"]
	path = repos/mdt-surrogates
	url = https://github.com/erc-dharma/mdt-surrogates
[submodule "repos/mdt-texts"]
	path = repos/mdt-texts
	url = https://github.com/erc-dharma/mdt-texts
[submodule "repos/project-documentation"]
	path = repos/project-documentation
	url = https://github.com/erc-dharma/project-documentation
[submodule "repos/repo-test"]
	path = repos/repo-test
	url = https://github.com/erc-dharma/repo-test
[submodule "repos/tfa-accalpuram-epigraphy"]
	path = repos/tfa-accalpuram-epigraphy
	url = https://github.com/erc-dharma/tfa-accalpuram-epigraphy
[submodule "repos/tfa-cempiyan-mahadevi-epigraphy"]
	path = repos/tfa-cempiyan-mahadevi-epigraphy
	url = https://github.com/erc-dharma/tfa-cempiyan-mahadevi-epigraphy
[submodule "repos/tfa-cirkali-epigraphy"]
	path = repos/tfa-cirkali-epigraphy
	url = https://github.com/erc-dharma/tfa-cirkali-epigraphy
[submodule "repos/tfa-kotumpalur-epigraphy"]
	path = repos/tfa-kotumpalur-epigraphy
	url = https://github.com/erc-dharma/tfa-kotumpalur-epigraphy
[submodule "repos/tfa-melappaluvur-kilappaluvur-epigraphy"]
	path = repos/tfa-melappaluvur-kilappaluvur-epigraphy
	url = https://github.com/erc-dharma/tfa-melappaluvur-kilappaluvur-epigraphy
[submodule "repos/tfa-pallava-epigraphy"]
	path = repos/tfa-pallava-epigraphy
	url = https://github.com/erc-dharma/tfa-pallava-epigraphy
[submodule "repos/tfa-pandya-epigraphy"]
	path = repos/tfa-pandya-epigraphy
	url = https://github.com/erc-dharma/tfa-pandya-epigraphy
[submodule "repos/tfa-sii-epigraphy"]
	path = repos/tfa-sii-epigraphy
	url = https://github.com/erc-dharma/tfa-sii-epigraphy
[submodule "repos/tfa-tamilnadu-epigraphy"]
	path = repos/tfa-tamilnadu-epigraphy
	url = https://github.com/erc-dharma/tfa-tamilnadu-epigraphy
[submodule "repos/tfa-uttiramerur-epigraphy"]
	path = repos/tfa-uttiramerur-epigraphy
	url = https://github.com/erc-dharma/tfa-uttiramerur-epigraphy
[submodule "repos/tfb-arakan-epigraphy"]
	path = repos/tfb-arakan-epigraphy
	url = https://github.com/erc-dharma/tfb-arakan-epigraphy
[submodule "repos/tfb-badamicalukya-epigraphy"]
	path = repos/tfb-badamicalukya-epigraphy
	url = https://github.com/erc-dharma/tfb-badamicalukya-epigraphy
[submodule "repos/tfb-bengalcharters-epigraphy"]
	path = repos/tfb-bengalcharters-epigraphy
	url = https://github.com/erc-dharma/tfb-bengalcharters-epigraphy
[submodule "repos/tfb-bengalded-epigraphy"]
	path = repos/tfb-bengalded-epigraphy
	url = https://github.com/erc-dharma/tfb-bengalded-epigraphy
[submodule "repos/tfb-bhaumakara-epigraphy"]
	path = repos/tfb-bhaumakara-epigraphy
	url = https://github.com/erc-dharma/tfb-bhaumakara-epigraphy
[submodule "repos/tfb-daksinakosala-epigraphy"]
	path = repos/tfb-daksinakosala-epigraphy
	url = https://github.com/erc-dharma/tfb-daksinakosala-epigraphy
[submodule "repos/tfb-ec-epigraphy"]
	path = repos/tfb-ec-epigraphy
	url = https://github.com/erc-dharma/tfb-ec-epigraphy
[submodule "repos/tfb-eiad-epigraphy"]
	path = repos/tfb-eiad-epigraphy
	url = https://github.com/erc-dharma/tfb-eiad-epigraphy
[submodule "repos/tfb-gangaeast-epigraphy"]
	path = repos/tfb-gangaeast-epigraphy
	url = https://github.com/erc-dharma/tfb-gangaeast-epigraphy
[submodule "repos/tfb-kalyanacalukya-epigraphy"]
	path = repos/tfb-kalyanacalukya-epigraphy
	url = https://github.com/erc-dharma/tfb-kalyanacalukya-epigraphy
[submodule "repos/tfb-licchavi-epigraphy"]
	path = repos/tfb-licchavi-epigraphy
	url = https://github.com/erc-dharma/tfb-licchavi-epigraphy
[submodule "repos/tfb-maitraka-epigraphy"]
	path = repos/tfb-maitraka-epigraphy
	url = https://github.com/erc-dharma/tfb-maitraka-epigraphy
[submodule "repos/tfb-rastrakuta-epigraphy"]
	path = repos/tfb-rastrakuta-epigraphy
	url = https://github.com/erc-dharma/tfb-rastrakuta-epigraphy
[submodule "repos/tfb-sailodbhava-epigraphy"]
	path = repos/tfb-sailodbhava-epigraphy
	url = https://github.com/erc-dharma/tfb-sailodbhava-epigraphy
[submodule "repos/tfb-satavahana-epigraphy"]
	path = repos/tfb-satavahana-epigraphy
	url = https://github.com/erc-dharma/tfb-satavahana-epigraphy
[submodule "repos/tfb-somavamsin-epigraphy"]
	path = repos/tfb-somavamsin-epigraphy
	url = https://github.com/erc-dharma/tfb-somavamsin-epigraphy
[submodule "repos/tfb-telugu-epigraphy"]
	path = repos/tfb-telugu-epigraphy
	url = https://github.com/erc-dharma/tfb-telugu-epigraphy
[submodule "repos/tfb-vengicalukya-epigraphy"]
	path = repos/tfb-vengicalukya-epigraphy
	url = https://github.com/erc-dharma/tfb-vengicalukya-epigraphy
[submodule "repos/tfb-visnukundin-epigraphy"]
	path = repos/tfb-visnukundin-epigraphy
	url = https://github.com/erc-dharma/tfb-visnukundin-epigraphy
[submodule "repos/tfc-campa-epigraphy"]
	path = repos/tfc-campa-epigraphy
	url = https://github.com/erc-dharma/tfc-campa-epigraphy
[submodule "repos/tfc-khmer-epigraphy"]
	path = repos/tfc-khmer-epigraphy
	url = https://github.com/erc-dharma/tfc-khmer-epigraphy
[submodule "repos/tfc-nusantara-epigraphy"]
	path = repos/tfc-nusantara-epigraphy
	url = https://github.com/erc-dharma/tfc-nusantara-epigraphy
[submodule "repos/tfd-nusantara-philology"]
	path = repos/tfd-nusantara-philology
	url = https://github.com/erc-dharma/tfd-nusantara-philology
[submodule "repos/tfd-sanskrit-philology"]
	path = repos/tfd-sanskrit-philology
	url = https://github.com/erc-dharma/tfd-sanskrit-philology
[submodule "repos/BESTOW"]
	path = repos/BESTOW
	url = git@github.com:erc-dharma/BESTOW.git
