[submodule "relaxng"]
	path = relaxng
	url = git@github.com:erc-dharma/relaxng.git
[submodule "tei"]
	path = tei
	url = https://github.com/TEIC/Stylesheets
[submodule "schematron"]
	path = schematron
	url = git@github.com:Schematron/schematron.git
