span.grantha {
	font-weight: bolder;
}
div.base-text {
	font-weight: bolder;
	margin-inline-start: 2em;
	margin-inline-end: 2em;
}
div.verse {
	/* Same properties as a normal <p> */
	margin-block-start: 1em;
	margin-block-end: 1em;
}
div.verse > p {
	/* No space between hemistiches */
	margin-block-start: 0em;
	margin-block-end: 0em;
	/* Hanging indent */
	padding-left: 2em;
	text-indent: -2em;
}

/* Global stuff */
body {
	margin: 1rem;
	font-family: 'Noto Sans', sans-serif;
	width: 40em;
	text-align: justify;
}
