[Unit]
Description=dharma.server
Wants=network-online.target

[Service]
User=michael
Group=michael
WorkingDirectory=/home/michael/dharma
Environment="PYTHONPATH=/home/michael:$PYTHONPATH"
ExecStart=python3 server.py
Restart=on-failure

