[Unit]
Wants=network-online.target

[Service]
User=michael
Group=michael
WorkingDirectory=/home/michael/dharma
Environment="PYTHONPATH=/home/michael:$PYTHONPATH"
ExecStart=gunicorn -k gevent -w 4 -b localhost:8024 dharma.zotero_proxy:app
ExecReload=kill -HUP $MAINPID
Restart=on-failure
