[Unit]

[Service]
User=michael
Group=michael
WorkingDirectory=/home/michael/dharma
Environment="PYTHONPATH=/home/michael:$PYTHONPATH"
ExecStart=gunicorn -k sync -w 4 -b localhost:8023 dharma.server:app
ExecReload=kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
