[Unit]

[Service]
User=michael
Group=michael
WorkingDirectory=/home/michael/dharma
Environment="PYTHONPATH=/home/michael:$PYTHONPATH"
ExecStart=python3 zotero.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
