@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Grantha&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

form > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	row-gap: 0.5em;
}

/* Global stuff */
body {
	font-family: 'Noto Serif', 'Noto Serif Grantha', serif;

	/* line-height: 1.4em; need to be more specific! */
	hyphens: auto;

	padding: 0;
	margin: 0;

	color: black;
	background-color: white;

	overflow-wrap: break-word;
}
main {
	margin: 1em;
}
pre, code {
	font-family: 'Noto Sans Mono', monospace;
	background-color: #eaeaea;
	border-radius: 0.3em;
	font-size: 92%;
}
pre {
	overflow: auto;
	padding: 0.5em;
}
p {
	text-align: justify;
	line-height: 1.4em;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
}
.body {
	max-width: 40em;
	margin: 0 auto;
}
table {
	border-collapse: collapse;
	margin: 0 auto;
}
td, th {
	padding: 0.4em;
}
th {
	background-color: #d9dadb;
}
table tr:nth-child(odd) {
	background-color: #eff0f1;
}
table tr:nth-child(even) {
	background-color: #d9dadb;
}
input {
	font-family: inherit;
	font-size: inherit;
}
select {
	font-family: inherit;
	font-size: inherit;
}
button {
	font-family: inherit;
	font-size: inherit;
}
div.table-container {
	/*overflow-x: auto;*/
}

div.pagination {
	text-align: center;
}

menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	background-color: black;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	font-size: larger;
	row-gap: 0.5em;


	@media(max-width: 30em) {
		flex-direction: column;
	}

}
menu a {
	color: white;
}
menu a:hover {
	background-color: gray;
}

a {
	text-decoration: none;
}

/* Parallels */
div.verse {
	/* Same properties as a normal <p> */
	margin-block-start: 1em;
	margin-block-end: 1em;
}
div.verse > p {
	/* No space between hemistiches */
	margin-block-start: 0em;
	margin-block-end: 0em;
	/* Hanging indent */
	padding-left: 2em;
	text-indent: -2em;
}

.smallcaps {
	font-variant: small-caps;
}




