/* Global variables */
:root {
	--border-radius: 0.3em;
	--flash-duration: 2s;
}

.toc-heading {
	font-size: larger;
	font-weight: bolder;
	margin: 0.5em 0;
}

@keyframes flash {
	0% {
		background: yellow;
	}
	60% {
		background: yellow;
	}
	100% {
		background: none;
	}
}
.flash {
	animation: flash var(--flash-duration);
}


.bib-ref, .note-ref {
	color: blue;
}
.bib-ref-invalid {
	color: red;
}

p.bib-entry {
	padding-left: 1.5em;
	text-indent: -1.5em;
}

html, body {
	height: 100%;
	width: 100%;
}

#contents {
	display: grid;
	grid-template-areas:
		'header'
		'sidebar'
		'main'
		'footer';
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 100%;
	min-height: 100%;
}
header {
	grid-area: header;
}
main {
	grid-area: main;
	margin: 1em;
}
aside {
	grid-area: sidebar;
	background-color: #f2f1f1;
	padding: 1em;
	display: none;
}
aside.active {
	display: block;
}
aside ul {
	padding-left: 1em;
}
footer {
	grid-area: footer;
	display: flex;
	justify-content: space-around;
	background-color: #f2f1f1;
}

.text-id, .repo-id, .commit-hash, .url {
	font-family: monospace;
	font-size: larger;
}
abbr {
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

.smallcaps {
	font-variant: small-caps;
}

/* Global stuff */
body {
	font-family: 'Noto Serif', serif;
	hyphens: auto;
	padding: 0;
	margin: 0;
	color: black;
	background-color: white;
	overflow-wrap: break-word;
}
pre, code {
	font-family: 'Noto Mono', monospace;
	background-color: #eaeaea;
	border-radius: var(--border-radius);
	font-size: 92%;
}
pre {
	overflow: auto;
	padding: 0.5em;
}
p {
	text-align: justify;
	line-height: 1.4em;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
}
h1:hover > a:before,
h2:hover > a:before,
h3:hover > a:before,
h4:hover > a:before,
h5:hover > a:before,
h6:hover > a:before {
	content: " ¶";
}


/* Tables */
/* https://unused-css.com/blog/css-rounded-table-corners/ */
tr:hover td {
	background-color: gray;
}
table tr:nth-child(odd) {
	background-color: #eff0f1;
}
table tr:nth-child(even) {
	background-color: #d9dadb;
}
table {
	border-spacing: 0;
	border-collapse: separate;
	border-radius: var(--border-radius);
	overflow: hidden;
}
td, th {
	padding: 0.4em;
}
th {
	background-color: #d9dadb;
}


input {
	font-family: inherit;
	font-size: inherit;
}
select {
	font-family: inherit;
	font-size: inherit;
}
button {
	font-family: inherit;
	font-size: inherit;
}

div.pagination {
	text-align: center;
}

/* Forms */
form ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
	row-gap: 0.5em;
}



/* Menu; see
   https://webdesign.tutsplus.com/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535t
 */

header {
	position: sticky;
	top: 0;
}
menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0.7em 1em;
	margin: 0;
	background-color: black;
	list-style: none;
	font-size: larger;
	row-gap: 0.5em;
}
menu a {
	color: white;
	text-decoration: none;
	padding: 0.2em 0.5em;
}
menu a:hover {
	background-color: gray;
	border-radius: var(--border-radius);
}
.active .item {
	display: block;
}
.item {
	width: 100%;
	text-align: left;
	display: none;
}

/* Desktop display  */
@media all and (min-width: 960px) {
	#contents {
		grid-template-rows: auto 1fr auto;
		grid-template-columns: 25% 75%;
		grid-template-areas:
			'header header'
			'sidebar main'
			'footer footer';
	}
	header {
		position: relative;
	}
	menu {
		align-items: flex-start;
		flex-wrap: nowrap;
	}
	.item {
		display: block;
		width: auto;
	}
	.toggle {
		display: none;
	}
	aside {
		display: block;
		position: sticky;
		top: 0;
		max-height: 100vh;
		overflow-y: auto;
	}
}

/* End menu */


/* Catalog */

.catalog-list {
}
.catalog-list div:first-child {
	border-radius: var(--border-radius);
}
.catalog-list div:last-child {
	border-radius: var(--border-radius);
}
.catalog-list div:nth-child(odd) {
	background-color: #eff0f1;
}
.catalog-list div:nth-child(even) {
	background-color: #d9dadb;
}
.catalog-card p {
	text-align: left;
}
.catalog-card p:first-child {
	margin-block-start: 0;
}
.catalog-card p:last-child {
	margin-block-end: 0;
}
.catalog-card {
	padding: 1em 0.7em;
}

/* End catalog */

/* Tooltips */

.tipped:hover {
	color: white;
	background-color: black;
	border-radius: var(--border-radius);
}
/* div that contains the tooltip (used for all tooltips) */
#tip-box {
	display: none;
	background-color: #f1eeff;
	border: solid black;
	max-width: 30em;
	border-radius: var(--border-radius);
	padding: 0.3em;
}

#tip-box[data-show] {
	display: block;
}

#tip-arrow, #tip-arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
}

#tip-arrow {
	visibility: hidden;
}

#tip-arrow::before {
	visibility: visible;
	content: '';
	border-top: solid black;
	border-left: solid black;
	transform: rotate(45deg);
}

#tip-box[data-popper-placement^='top'] > #tip-arrow {
	bottom: -6px;
}

#tip-box[data-popper-placement^='bottom'] > #tip-arrow {
	top: -6px;
}

#tip-box[data-popper-placement^='left'] > #tip-arrow {
	right: -6px;
}

#tip-box[data-popper-placement^='right'] > #tip-arrow {
	left: -6px;
}

/* End tooltips */


a {
	text-decoration: none;
}

/* Parallels */
div.parallel-verse {
	/* Same properties as a normal <p> */
	margin-block-start: 1em;
	margin-block-end: 1em;
}
div.parallel-verse > p {
	/* No space between hemistiches */
	margin-block-start: 0em;
	margin-block-end: 0em;
	/* Hanging indent */
	padding-left: 2em;
	text-indent: -2em;
}
