html, body {
	height: 100%;
	width: 100%;
}
#contents {
	display: grid;
	grid-template-areas:
		'header'
		'sidebar'
		'main'
		'footer';
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 100%;
	min-height: 100%;
}
header {
	grid-area: header;
}
main {
	grid-area: main;
	margin: 1em;
}
aside {
	grid-area: sidebar;
}
footer {
	grid-area: footer;
	display: flex;
	font-size: smaller;
	justify-content: space-around;
}

/* Global stuff */
body {
	font-family: 'Noto Serif', serif;

	/* line-height: 1.4em; need to be more specific! */
	hyphens: auto;

	padding: 0;
	margin: 0;

	color: black;
	background-color: white;

	overflow-wrap: break-word;
}
pre, code {
	font-family: 'Noto Mono', monospace;
	background-color: #eaeaea;
	border-radius: 0.3em;
	font-size: 92%;
}
pre {
	overflow: auto;
	padding: 0.5em;
}
p {
	text-align: justify;
	line-height: 1.4em;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
}
.body {
	max-width: 40em;
	margin: 0 auto;
}

/* Tables */
tr:hover td {
	background-color: gray;
}
table tr:nth-child(odd) {
	background-color: #eff0f1;
}
table tr:nth-child(even) {
	background-color: #d9dadb;
}
table {
	border-collapse: collapse;
	margin: 0 auto;
}
td, th {
	padding: 0.4em;
}
th {
	background-color: #d9dadb;
}
*/

input {
	font-family: inherit;
	font-size: inherit;
}
select {
	font-family: inherit;
	font-size: inherit;
}
button {
	font-family: inherit;
	font-size: inherit;
}
div.table-container {
	/*overflow-x: auto;*/
}

div.pagination {
	text-align: center;
}

/* Forms */
form > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	row-gap: 0.5em;
}



/* Menu; see
   https://webdesign.tutsplus.com/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535t
 */

/* Mobile menu */
menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0.7em 1em;
	margin: 0;
	background-color: black;
	list-style: none;
	font-size: larger;
	row-gap: 0.5em;
}
menu a {
	color: white;
	text-decoration: none;
	padding: 0.2em 0.5em;
}
menu a:hover {
	background-color: gray;
	border-radius: 0.3em;

}
.active .item {
	display: block;
}
.item {
	width: 100%;
	text-align: left;
	display: none;
}

/* Desktop menu  */
@media all and (min-width: 960px) {
	#contents {
		grid-template-rows: auto 1fr auto;
		 grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			'header header header'
			'sidebar main main'
			'footer footer footer';
		 }
	menu {
		align-items: flex-start;
		flex-wrap: nowrap;
	}
	.item {
		display: block;
		width: auto;
	}
	.toggle {
		display: none;
	}
	aside {
		display: block;
	}
}

/* End menu */


/* Catalog */

.catalog-list {
}
.catalog-list div:nth-child(odd) {
	background-color: #eff0f1;
}
.catalog-list div:nth-child(even) {
	background-color: #d9dadb;
}
.catalog-card p {
	text-align: left;
}
.catalog-card p:first-child {
	margin-block-start: 0;
}
.catalog-card p:last-child {
	margin-block-end: 0;
}
.catalog-card {
	padding: 1em 0.7em;
}

/* End catalog */


a {
	text-decoration: none;
}

/* Parallels */
div.verse {
	/* Same properties as a normal <p> */
	margin-block-start: 1em;
	margin-block-end: 1em;
}
div.verse > p {
	/* No space between hemistiches */
	margin-block-start: 0em;
	margin-block-end: 0em;
	/* Hanging indent */
	padding-left: 2em;
	text-indent: -2em;
}

.smallcaps {
	font-variant: small-caps;
}




