/* Global variables */
:root {
	--border-radius: 0.3em;
	--flash-duration: 2s;
}

.toc-heading {
	font-size: larger;
	font-weight: bolder;
	margin: 0.5em 0;
}

/* The default is way too small */
small {
	font-size: 90%;
}

@keyframes flash {
	0% {
		background: yellow;
	}
	60% {
		background: yellow;
	}
	100% {
		background: none;
	}
}
.flash {
	animation: flash var(--flash-duration);
}

.bib-ref-invalid {
	color: red;
}
.nav-link.bib-ref-invalid { /* override default blue color */
	color: red;
}

p.bib-entry {
	padding-left: 1.5em;
	text-indent: -1.5em;
}

html, body {
	height: 100%;
	width: 100%;
}
html {
	/* I always display the scrollbar to make sure the layout does not
	 * shift between pages. Can't find out how to style edges with
	 * scrollbar-gutter: stable both-edges, so we just display a scrollbar
	 * all the time. There aren't many pages that fit in less than one
	 * screen so this is not much of an annoyance.
	 */
	overflow-y: scroll;
}

#contents {
	display: grid;
	grid-template-areas:
		'header'
		'sidebar'
		'main'
		'footer';
	grid-template-rows: auto auto 1fr auto;
	grid-template-columns: 100%;
	min-height: 100%;
}
header {
	grid-area: header;
}
main {
	grid-area: main;
	margin: 1em;
}
aside {
	grid-area: sidebar;
	background-color: #f2f1f1;
	padding: 1em;
	display: none;
}
aside.active {
	display: block;
}
aside ul {
	padding-left: 1em;
}
footer {
	grid-area: footer;
	display: flex;
	justify-content: space-around;
	background-color: #f2f1f1;
}

.text-id, .repo-id, .member-id, .commit-hash, .url {
	font-family: monospace;
	font-size: larger;
}
abbr {
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

.hidden {
	display: none;
}

.smallcaps {
	font-variant: small-caps;
}

/* Global stuff */
body {
	font-family: 'Noto Serif', serif;
	hyphens: auto;
	padding: 0;
	margin: 0;
	color: black;
	background-color: white;
	overflow-wrap: break-word;
	line-height: 1.5; /* omitting the unit to make it work for <h1>, etc. */
}
pre, code {
	font-family: 'Noto Mono', monospace;
	background-color: #eaeaea;
	border-radius: var(--border-radius);
	font-size: 92%;
}
pre {
	overflow: auto;
	padding: 0.5em;
}
p {
	text-align: justify;
}

/* Tables */
/* https://unused-css.com/blog/css-rounded-table-corners/ */
tr:hover td {
	background-color: gray;
}
table tr:nth-child(odd) {
	background-color: #eff0f1;
}
table tr:nth-child(even) {
	background-color: #d9dadb;
}
table {
	border-spacing: 0;
	border-collapse: separate;
	border-radius: var(--border-radius);
	overflow: hidden;
}
td, th {
	padding: 0.4em;
}
th {
	background-color: #d9dadb;
}


input {
	font-family: inherit;
	font-size: inherit;
}
select {
	font-family: inherit;
	font-size: inherit;
}
button {
	font-family: inherit;
	font-size: inherit;
}

div.pagination {
	text-align: center;
}

/* Forms */
form ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
	column-gap: 0.3em;
}



/* Menu; see
   https://webdesign.tutsplus.com/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535t
 */

header {
	position: sticky;
	top: 0;
}
menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0.7em 1em;
	margin: 0;
	background-color: black;
	list-style: none;
	font-size: larger;
	row-gap: 0.5em;
}
menu a {
	color: white;
	text-decoration: none;
	padding: 0.2em 0.5em;
}
menu a:hover {
	background-color: gray;
	border-radius: var(--border-radius);
}
.menu-active .item {
	display: block;
}
.item {
	width: 100%;
	text-align: left;
	display: none;
}

/* Desktop display  */
@media all and (min-width: 960px) {
	#contents {
		grid-template-rows: auto 1fr auto;
		grid-template-columns: 25% 75%;
		grid-template-areas:
			'header header'
			'sidebar main'
			'footer footer';
	}
	header {
		position: relative;
	}
	menu {
		align-items: flex-start;
		flex-wrap: nowrap;
	}
	.item {
		display: block;
		width: auto;
	}
	.toggle {
		display: none;
	}
	aside {
		display: block;
		position: sticky;
		top: 0;
		max-height: 100vh;
		overflow-y: auto;
	}
}

/* End menu */

@media print {
	/* For printing, hide useless stuff. */
	header {
		display: none;
	}
	aside {
		display: none;
	}
}


/* Catalog */

.catalog-list div.catalog-card:first-child {
	border-radius: var(--border-radius);
}
.catalog-list div.catalog-card:last-child {
	border-radius: var(--border-radius);
}
.catalog-list div.catalog-card:nth-child(odd) {
	background-color: #eff0f1;
}
.catalog-list div.catalog-card:nth-child(even) {
	background-color: #d9dadb;
}
.catalog-card p {
	text-align: left;
}
.catalog-card p:first-child {
	margin-block-start: 0;
}
.catalog-card p:last-child {
	margin-block-end: 0;
}
.catalog-card {
	padding: 1em 0.7em;
}
.catalog-card-heading {
	font-size: 110%;
}

/* End catalog */

/* Tooltips */

i.tipped:hover {
	color: initial;
	background-color: initial;
	border-radius: initial;
}
.tipped:hover {
	color: white;
	background-color: black;
	border-radius: var(--border-radius);
}
/* div that contains the tooltip (used for all tooltips) */
#tip-box {
	display: none;
	background-color: #f1eeff;
	border: solid black;
	max-width: 30em;
	border-radius: var(--border-radius);
	padding: 0.3em;
}

#tip-box[data-show] {
	display: block;
}

#tip-arrow, #tip-arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
}

#tip-arrow {
	visibility: hidden;
}

#tip-arrow::before {
	visibility: visible;
	content: '';
	border-top: solid black;
	border-left: solid black;
	transform: rotate(45deg);
}

#tip-box[data-popper-placement^='top'] > #tip-arrow {
	bottom: -6px;
}

#tip-box[data-popper-placement^='bottom'] > #tip-arrow {
	top: -6px;
}

#tip-box[data-popper-placement^='left'] > #tip-arrow {
	right: -6px;
}

#tip-box[data-popper-placement^='right'] > #tip-arrow {
	left: -6px;
}

/* End tooltips */


a {
	text-decoration: none;
}
/* For links that point to the same page viz. internal navigation.
 * Don't change color when visited.
 */
a.nav-link {
	color: blue;
}

/* Parallels */
div.parallel-verse {
	/* Same properties as a normal <p> */
	margin-block-start: 1em;
	margin-block-end: 1em;
}
div.parallel-verse > p {
	/* No space between hemistiches */
	margin-block-start: 0em;
	margin-block-end: 0em;
	/* Hanging indent */
	padding-left: 2em;
	text-indent: -2em;
}


/* Numbered verse lines, for Manu. See e.g. DHARMA_INSTamilNadu00102 */
.verse-numbered div {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	max-width: 29em;
}
.verse div > span {
	display: none;
}
.verse-numbered div:nth-child(1) > span {
	display: inline;
}
.verse-numbered div:nth-child(5n) > span {
	display: inline;
}



h6 {
	font-size: initial;
	margin-block-start: 0;
	margin-block-end: 0;
}

.ed-tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
	/* column-gap: 0.7em; */
	border-bottom: solid 2px;
}
.ed-tabs li {
	border-top: solid;
	border-left: solid;
	border-right: solid;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	padding: 0.2em 0.4em;
	margin-left: 1em;
	border-color: gray;
}
.ed-tabs li.active {
	background-color: white;
	border-color: black;
	margin-bottom: -2px;
}
.ed-tabs a {
	color: gray;
}
.active a {
	color: black;
}

sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

/* Lists.
 * Examples in:
 * http://localhost:8023/display/DHARMA_INSIDENKAlasantan
 * http://localhost:8023/display/DHARMA_INSSII0400223
 */
.list-plain {
	list-style: none;
}
.list-plain:hover {
	list-style: initial;
}
.list-plain li::marker {
	color: gray;
}
.list {
	padding-left: 2.4em;
}
/* More space between list items. This is mostly for plain lists, because it
 * is hard to distinguish paragraph lines from item lines.
 */
.list li:not(:last-child) {
	margin-bottom: 0.8em;
}
dl.list { /* XXX ugly on mobile! */
	display:grid;
	grid-template-columns: max-content auto;
}
dl.list > dt {
	grid-column-start: 1;
	font-weight: bolder;
}
dl.list > dd {
	grid-column-start: 2;
}
/* End lists */


/* Editions */
.grantha {
	font-weight: bolder;
}
.reading {
	font-style: italic;
	color: green;
}
/* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element/53336754#53336754
 */
.svg {
	height: 1em;
}
.milestone {
	color: gray;
}
.symbol {
}
.symbol-placeholder {
	border: solid 1px;
	border-radius: var(--border-radius);
}
.lb {
	color: gray;
}
.pagelike {
	color: gray;

}
.gridlike {
	color: gray;
}
.abbr {
	color: brown;
}
.sic {
	color: red;
}
.corr {
	color: green;
}
.orig {
	color: magenta;
}
.reg {
	color: blue;
}
.check {
	background-color: yellow;
}

/* Apparatus */
.apparatus p {
	text-align: left;
}

/* Logical display */
.log {
	text-align: justify;
}
.log .sic {
	display: none;
}
.log .orig {
	display: none;
}
.log .surplus {
	display: none;
}
.log .hyphen-break {
	display: none;
}
.log .abbr-mark {
	display: none;
}

.verse {
	/* Same properties as a normal <p> */
	margin-block-start: 1em;
	margin-block-end: 1em;
	padding-left: 0.5em;
	border-left: solid;
	border-color: gray;
}
.verse p {
	/* No space between hemistiches */
	margin-block-start: 0em;
	margin-block-end: 0em;
	/* Hanging indent */
	padding-left: 2em;
	text-indent: -2em;
	text-align: left;
}

/* Physical display */
.phys {
	text-align: left;
}
.phys .line {
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
}
.phys .pagelike {
}
.phys .corr {
	display: none;
}
.phys .reg {
	display: none;
}
.phys .abbr-expansion {
	display: none;
}

/* XML display */
.xml {
}
.xml .tag {
	color: blue;
}
.xml .attr-name {
	color: green;
}
.xml .attr-value {
	color: purple;
}







#submenu-button {
	cursor: pointer;
}
#submenu {
	position: absolute;
	background: gray;
	color: white;
	/* Avoid layout interference */
	width: max-content;
	top: 0;
	left: 0;
}
#submenu ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	row-gap: 0.7em;
}
#submenu li {
	width: 100%;
}
#submenu {
	padding: 0.7em 1em;
	margin: 0;
	background-color: black;
	font-size: larger;
	border-radius: var(--border-radius);
}
#submenu a {
	color: white;
	text-decoration: none;
	padding: 0.2em 0.5em;
}
#submenu li:hover {
	background-color: gray;
	border-radius: var(--border-radius);
}




