/* The idea is to make visible stuff that has a tooltip */
.dh-ed span:hover {
	color: white;
	background-color: black;
}
.dh-grantha {
	font-weight: bolder;
}
.dh-lb {
	color: gray;
	font-weight: normal;
}
.dh-lb-cont {
	color: gray;
	font-weight: normal;
}
.dh-pb {
	color: gray;
	font-weight: normal;
}
.dh-add::before {
	content: "⟨⟨";
}
.dh-add::after {
	content: "⟩⟩";
}
.dh-del::before {
	content: "⟦";
}
.dh-del::after {
	content: "⟧";
}
.dh-xml {
	overflow-x: auto;
	background-color: #8080801f;
}
