.dh-ed {
	text-align: justify;
}
.dh-lb::before {
	content: "(" attr(data-num) ")\00A0";
}
.dh-sic {
	display: none;
}
.dh-orig {
	display: none;
}
.dh-corr {
	color: green;
}
.dh-corr::before {
	content: "⟨";
}
.dh-corr::after {
	content: "⟩";
}
.dh-reg {
	color: blue;
}
.dh-reg::before {
	content: "⟨";
}
.dh-reg::after {
	content: "⟩";
}
.dh-hyphen-break {
	display: none;
}
.dh-abbr {
	color: brown;
}
.dh-abbr-expansion::before {
	content: "(";
}
.dh-abbr-expansion::after {
	content: ")";
}
