.dh-ed {
	text-align: left;
}
.dh-lb::before {
	content: "";
	display: block;
}
.dh-lb::after {
	content: "\a" attr(data-num);
	padding-right: 1em;
}
.dh-lb-cont::before {
	content: "";
	display: block;
}
.dh-lb-cont::after {
	content: "\a" attr(data-num);
	padding-right: 1em;
}
.dh-pb::before {
	content: "⎘ plate " attr(data-num) "";
	display: block;
	margin-top: 1em;
}
.dh-orig {
	color: magenta;
}
.dh-orig::before {
	content: "¡";
}
.dh-orig::after {
	content: "!";
}
.dh-corr {
	display: none;
}
.dh-reg {
	display: node;
}
.dh-sic {
	color: red;
}
.dh-sic::before {
	content: "¿";
}
.dh-sic::after {
	content: "?";
}
.dh-subaudible::before {
	content: "[";
}
.dh-subaudible::after {
	content: "]";
}
.dh-omitted::before {
	content: "⟨";
}
.dh-omitted::after {
	content: "⟩";
}
.dh-explanation::before {
	content: "(";
}
.dh-explanation::after {
	content: ")";
}
.dh-lost::before {
	content: "[";
}
.dh-lost::after {
	content: "]";
}
.dh-undefined::before {
	content: "[";
}
.dh-undefined::after {
	content: "]";
}
.dh-surplus::before {
	content: "{";
}
.dh-surplus::after {
	content: "}";
}
.dh-abbr {
	color: brown;
}
.dh-abbr-expansion {
	display: none;
}
