
/* Numbered verse lines, for Manu. See e.g. DHARMA_INSTamilNadu00102 */
.verse-numbered div {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	max-width: 29em;
}
.verse div > span {
	display: none;
}
.verse-numbered div:nth-child(1) > span {
	display: inline;
}
.verse-numbered div:nth-child(5n) > span {
	display: inline;
}



h6 {
	font-size: initial;
	margin-block-start: 0;
	margin-block-end: 0;
}

.ed-tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
	/* column-gap: 0.7em; */
	border-bottom: solid 2px;
}
.ed-tabs li {
	border-top: solid;
	border-left: solid;
	border-right: solid;
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
	padding: 0.2em 0.4em;
	margin-left: 1em;
	border-color: gray;
}
li.active {
	background-color: white;
	border-color: black;
	margin-bottom: -2px;
}
.ed-tabs a {
	color: gray;
}
.active a {
	color: black;
}

/* Lists examples in
http://localhost:8023/display/DHARMA_INSIDENKAlasantan#translation-1
*/
.list-plain {
	list-style: none;
}
.list {
	padding-left: 2.4em;
}
dl.list { /* XXX ugly on mobile! */
	display:grid;
	grid-template-columns: max-content auto;
}
dl.list > dt {
	grid-column-start: 1;
	font-weight: bolder;
}
dl.list > dd {
	grid-column-start: 2;
}

.note-ref {
	font-size: 80%;
	vertical-align: super;
}


/* Editions */
.grantha {
	font-weight: bolder;
}
.reading {
	font-style: italic;
	color: green;
}
/* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element/53336754#53336754
 */
.svg {
	height: 1em;
}
.milestone {
	color: gray;
}
.symbol {
}
.symbol-placeholder {
	border: solid;
	border-radius: var(--border-radius);
}
.lb {
	color: gray;
}
.pagelike {
	color: gray;

}
.gridlike {
	color: gray;
}
.abbr {
	color: brown;
}
.sic {
	color: red;
}
.corr {
	color: green;
}
.orig {
	color: magenta;
}
.reg {
	color: blue;
}
.check {
	background-color: yellow;
}

/* Apparatus */
.apparatus p {
	text-align: left;
}

/* Logical display */
.log {
	text-align: justify;
}
.log .sic {
	display: none;
}
.log .orig {
	display: none;
}
.log .surplus {
	display: none;
}
.log .hyphen-break {
	display: none;
}
.log .abbr-mark {
	display: none;
}

.verse {
	/* Same properties as a normal <p> */
	margin-block-start: 1em;
	margin-block-end: 1em;
	padding-left: 0.5em;
	border-left: solid;
	border-color: gray;
}
.verse p {
	/* No space between hemistiches */
	margin-block-start: 0em;
	margin-block-end: 0em;
	/* Hanging indent */
	padding-left: 2em;
	text-indent: -2em;
	text-align: left;
}

/* Physical display */
.phys {
	text-align: left;
}
.phys .line {
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
}
.phys .pagelike {
}
.phys .corr {
	display: none;
}
.phys .reg {
	display: none;
}
.phys .abbr-expansion {
	display: none;
}

/* XML display */
.xml {
}
.xml .tag {
	color: blue;
}
.xml .attr-name {
	color: green;
}
.xml .attr-value {
	color: purple;
}
