.dh-ed-tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
	/* column-gap: 0.7em; */
	border-bottom: solid 2px;
}
.dh-ed-tabs li {
	border-top: solid;
	border-left: solid;
	border-right: solid;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	padding: 0.2em;
	margin-left: 1em;
}
.dh-active {
	background-color: #ffffff;
	margin-bottom: -2px;
}

/* The idea is to make visible stuff that has a tooltip */
.dh-log span:hover {
	color: white;
	background-color: black;
}
.dh-phys span:hover {
	color: white;
	background-color: black;
}
.dh-trans span:hover {
	color: white;
	background-color: black;
}

/* Editions */
.dh-grantha {
	font-weight: bolder;
}
.dh-svg {
	height: 1em;
}
.dh-milestone {
	color: gray;
}
.dh-symbol {
	color: green;
}
.dh-symbol, .dh-space {
	font-weight: normal;
	font-style: normal;
}
.dh-lb {
	color: gray;
	font-weight: normal;
}
.dh-pagelike {
	color: gray;
	font-weight: normal;
	font-style: normal;
}
.dh-gridlike {
	color: gray;
	font-weight: normal;
	font-style: normal;
}
.dh-abbr {
	color: brown;
}

/* Logical display */
.dh-log {
	text-align: justify;
}
.dh-log .dh-sic {
	display: none;
}
.dh-log .dh-corr {
	color: green;
}
.dh-log .dh-orig {
	display: none;
}
.dh-log .dh-reg {
	color: blue;
}
.dh-log .dh-surplus {
	display: none;
}
.dh-log .dh-hyphen-break {
	display: none;
}
.dh-log .dh-abbr {
	color: brown;
}

/* Physical display */
.dh-phys {
	text-align: left;
}
.dh-phys .dh-line {
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
}
.dh-phys .dh-pagelike {
}
.dh-phys .dh-sic {
	color: red;
}
.dh-phys .dh-corr {
	display: none;
}
.dh-phys .dh-orig {
	color: magenta;
}
.dh-phys .dh-reg {
	display: none;
}
.dh-phys .dh-abbr-expansion {
	display: none;
}

/* XML display */
.dh-xml {
}
.dh-xml .dh-tag {
	color: blue;
}
.dh-xml .dh-attr-name {
	color: green;
}
.dh-xml .dh-attr-value {
	color: purple;
}
