h6 {
	font-size: initial;
	margin-block-start: 0;
	margin-block-end: 0;
}

.dh-ed-tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
	/* column-gap: 0.7em; */
	border-bottom: solid 2px;
}
.dh-ed-tabs li {
	border-top: solid;
	border-left: solid;
	border-right: solid;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	padding: 0.2em;
	margin-left: 1em;
	border-color: gray;
}
li.dh-active {
	background-color: white;
	border-color: black;
	margin-bottom: -2px;
}
.dh-ed-tabs a {
	color: gray;
}
.dh-active a {
	color: black;
}

p.dh-bib-entry {
	padding-left: 1.5em;
	text-indent: -1.5em;
}
.dh-bib-ref-invalid {
	color: red;
}

.dh-url {
	font-family: monospace;
	font-size: larger;
}
.dh-list-plain {
	list-style: none;
}

@keyframes flash {
	0% {
		background: yellow;
	}
	60% {
		background: yellow;
	}
	100% {
		background: none;
	}
}

abbr {
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

.dh-flash {
	animation: flash 2s;
}

/* Tooltips */
.dh-tipped:hover {
	color: white;
	background-color: black;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
}

/* div that contains the tooltip (used for all tooltips) */
#dh-tip-box {
	display: none;
	background-color: black;
	color: white;
	max-width: 30em;
	border-radius: 0.3em;
	padding: 0.3em;
}

#dh-tip-box[data-show] {
	display: block;
}

#dh-tip-arrow, #dh-tip-arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
}

#dh-tip-arrow {
	visibility: hidden;
}

#dh-tip-arrow::before {
	visibility: visible;
	content: '';
	transform: rotate(45deg);
}

#dh-tip-box[data-popper-placement^='top'] > #dh-tip-arrow {
	bottom: -4px;
}

#dh-tip-box[data-popper-placement^='bottom'] > #dh-tip-arrow {
	top: -4px;
}

#dh-tip-box[data-popper-placement^='left'] > #dh-tip-arrow {
	right: -4px;
}

#dh-tip-box[data-popper-placement^='right'] > #dh-tip-arrow {
	left: -4px;
}

/* End tooltips */



.dh-text-id {
	font-family: monospace;
	font-size: larger;
}


/* Editions */
.dh-grantha {
	font-weight: bolder;
}
.dh-reading {
	font-style: italic;
}
/* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element/53336754#53336754
 */
.dh-svg {
	height: 1em;
}
.dh-milestone {
	color: gray;
}
.dh-symbol {
	color: green;
}
.dh-symbol, .dh-space {
	font-weight: normal;
	font-style: normal;
}
.dh-lb {
	color: gray;
	font-weight: normal;
	font-style: normal;
}
.dh-pagelike {
	color: gray;
	font-weight: normal;

}
.dh-gridlike {
	color: gray;
	font-weight: normal;
	font-style: normal;
}
.dh-abbr {
	color: brown;
}
.dh-sic {
	color: red;
}
.dh-corr {
	color: green;
}
.dh-orig {
	color: magenta;
}
.dh-reg {
	color: blue;
}

/* Apparatus */
.dh-apparatus p {
	text-align: left;
}

/* Logical display */
.dh-log {
	text-align: justify;
}
.dh-log .dh-sic {
	display: none;
}
.dh-log .dh-orig {
	display: none;
}
.dh-log .dh-surplus {
	display: none;
}
.dh-log .dh-hyphen-break {
	display: none;
}
.dh-verse {
	/* Same properties as a normal <p> */
	margin-block-start: 1em;
	margin-block-end: 1em;
	padding-left: 0.5em;
	border-left: solid;
	border-color: gray;
}
.dh-verse > p {
	/* No space between hemistiches */
	margin-block-start: 0em;
	margin-block-end: 0em;
	/* Hanging indent */
	padding-left: 2em;
	text-indent: -2em;
	text-align: left;
}

/* Physical display */
.dh-phys {
	text-align: left;
}
.dh-phys .dh-line {
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
}
.dh-phys .dh-pagelike {
}
.dh-phys .dh-corr {
	display: none;
}
.dh-phys .dh-reg {
	display: none;
}
.dh-phys .dh-abbr-expansion {
	display: none;
}

/* XML display */
.dh-xml {
}
.dh-xml .dh-tag {
	color: blue;
}
.dh-xml .dh-attr-name {
	color: green;
}
.dh-xml .dh-attr-value {
	color: purple;
}
