/* The idea is to make visible stuff that has a tooltip */
#dh-log span:hover {
	color: white;
	background-color: black;
}
#dh-phys span:hover {
	color: white;
	background-color: black;
}
.dh-grantha {
	font-weight: bolder;
}
.dh-symbol {
	color: green;
}
.dh-lb {
	color: gray;
	font-weight: normal;
}
.dh-pb {
	color: gray;
	font-weight: normal;
}
.dh-abbr {
	color: brown;
}
.dh-xml {
	overflow-x: auto;
	background-color: #8080801f;
}

/* Logical display */
#dh-log {
	text-align: justify;
}
#dh-log .dh-sic {
	display: none;
}
#dh-log .dh-orig {
	display: none;
}
#dh-log .dh-corr {
	color: green;
}
#dh-log .dh-reg {
	color: blue;
}
#dh-log .dh-surplus {
	display: none;
}
#dh-log .dh-hyphen-break {
	display: none;
}
#dh-log .dh-abbr {
	color: brown;
}

/* Physical display */
#dh-phys .dh-ed {
	text-align: left;
}
#dh-phys .dh-line {
	margin-block-start: 0;
	margin-block-end: 0;
}
#dh-phys .dh-page {
	padding-bottom: 0.7rem;
}
#dh-phys .dh-orig {
	color: magenta;
}
#dh-phys .dh-corr {
	display: none;
}
#dh-phys .dh-reg {
	display: none;
}
#dh-phys .dh-sic {
	color: red;
}
#dh-phys .dh-abbr-expansion {
	display: none;
}
