.dh-ed-tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
	/* column-gap: 0.7em; */
	border-bottom: solid 2px;
}
.dh-ed-tabs li {
	border-top: solid;
	border-left: solid;
	border-right: solid;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	padding: 0.2em;
	margin-left: 1em;
	border-color: gray;
}
li.dh-active {
	background-color: white;
	border-color: black;
	margin-bottom: -2px;
}
.dh-ed-tabs a {
	color: gray;
}
.dh-active a {
	color: black;
}

p.dh-bib-entry {
	padding-left: 1.5em;
	text-indent: -1.5em;
}

.dh-url {
	font-family: monospace;
	font-size: larger;
}

/* Tooltips */
.dh-tipped {
	position: relative;
}
.dh-tip {
	display: none;
	color: white;
	background-color: black;
	font-weight: normal;
	font-style: normal;
	font-size: initial;
	text-indent: 0;
	padding: 0.3em;
	border-radius: 0.3em;
	position: absolute;
	z-index: 1;
	top: 100%;
	width: 39em;
}
.dh-tipped:hover .dh-tip {
	display: block;
}
.dh-tipped:hover {
	color: white;
	background-color: black;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
}

/* Editions */
.dh-grantha {
	font-weight: bolder;
}
.dh-reading {
	font-style: italic;
}
.dh-svg {
	height: 1em;
}
.dh-milestone {
	color: gray;
}
.dh-symbol {
	color: green;
}
.dh-symbol, .dh-space {
	font-weight: normal;
	font-style: normal;
}
.dh-lb {
	color: gray;
	font-weight: normal;
}
.dh-pagelike {
	color: gray;
	font-weight: normal;
	font-style: normal;
}
.dh-gridlike {
	color: gray;
	font-weight: normal;
	font-style: normal;
}
.dh-abbr {
	color: brown;
}
.dh-sic {
	color: red;
}
.dh-corr {
	color: green;
}
.dh-orig {
	color: magenta;
}
.dh-reg {
	color: blue;
}

/* Logical display */
.dh-log {
	text-align: justify;
}
.dh-log .dh-sic {
	display: none;
}
.dh-log .dh-orig {
	display: none;
}
.dh-log .dh-surplus {
	display: none;
}
.dh-log .dh-hyphen-break {
	display: none;
}

/* Physical display */
.dh-phys {
	text-align: left;
}
.dh-phys .dh-line {
	margin-block-start: 0.3em;
	margin-block-end: 0.3em;
}
.dh-phys .dh-pagelike {
}
.dh-phys .dh-corr {
	display: none;
}
.dh-phys .dh-reg {
	display: none;
}
.dh-phys .dh-abbr-expansion {
	display: none;
}

/* XML display */
.dh-xml {
}
.dh-xml .dh-tag {
	color: blue;
}
.dh-xml .dh-attr-name {
	color: green;
}
.dh-xml .dh-attr-value {
	color: purple;
}
